

.todoButton {
 @apply p-2 bg-blue-500 hover:bg-blue-600 hover:text-slate-50 text-white rounded-lg transition-colors;
}

.buttonsWrap {
  display: flex;
  gap: 10px;
}

.todoList {
  list-style: none;
}
