

.todoButton {
 @apply p-2 bg-blue-500 hover:bg-blue-600 hover:text-slate-50 text-white rounded-lg transition-colors;
}

.buttonsWrap {
  display: flex;
  gap: 10px;
}

.todoList {
  list-style: none;
}


.taskEditButton{
  @apply bg-blue-500 rounded-lg p-1 px-2 text-white transition-colors hover:bg-blue-600;
}
.taskSaveButton{
  @apply bg-green-500 rounded-lg p-1 px-2 text-white transition-colors hover:bg-green-600 text-black;
}